{% extends 'base.html.twig' %}
{% block body %}

<div class="party">
    {{ party.name }}
    {{ party.description }}
    {{ party.date|date('Y-M-d h:m') }}
    {{ party.image }}
</div>

{% endblock %}